<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body {font-family: "Fira Sans Condensed", serif; background-color: #eee; margin: 0;}
        .content {margin-right: auto; margin-left: auto;}
        @media screen and (min-width: 900px) {.content {width: 50%;}}
        .post {margin: 1em; padding: 1em;}
        .meta {font-size: 0.8rem; color: #333; margin-bottom: 1em;}
        .header-wrapper {background-color: #49453c;}
        .header {padding: 1em; font-weight: 500; font-size: 1.4rem; color: white;}
        .footer-wrapper {background-color: #49453c;}
        .footer {padding: 1em; font-size: 0.8rem; color: white; text-align: center;}
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            {{title}}
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
        {% for post in posts %}
            <div class="post">
                <div class="meta">
                    <span class="author">{{author}}</span>
                    <span class="date">{{post.date.strftime("%Y-%m-%d %H:%M")}}</span>
                </div>
                <div class="text">{{post.message}}</div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer">
            Все права защищены, {{title}}. 2020
        </div>
    </div>
</body>
</html>

