body {
    font-family: "Fira Sans Condensed", serif;
    background-color: #eee;
    margin: 0;
}

.content {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.post {
    /* background-color: #dbd7ce; */
    margin: 1em;
    padding: 1em;
    /* border-radius: 1em; */
}

.meta {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 1em;
}

.header-wrapper {
    background-color: #49453c;
}

.header {
    padding: 1em;
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
}

.footer-wrapper {
    background-color: #49453c;
}

.footer {
    padding: 1em;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}