<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Блог Дмитрия</title>
    <link rel="stylesheet" href="assets/main.css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            Блог Дмитрия
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
        
            <div class="post">
                <div class="meta">
                    <span class="author">Dima</span>
                    <span class="date">2020-11-04 19:21</span>
                </div>
                <div class="text">– МТС продает 100% системного интегратора «Энвижн Груп» АФК «Система»<br/>– Сумма сделки составит 401 млн руб., но может быть скорректирована<br/>– Мобильный оператор приобрел «Энвижн Груп» у «Системы» в 2015 году<br/>– МТС указывала, что заплатила за актив 11,2 млрд руб. <br/>– Разница в стоимость актива связана с тем, что МТС оставляет у себя биллинговую систему<br/>– Справедливость нынешней цены продажи определена на основе независимой оценки KPMG<br/>– Обратная сделка по такой стоимости, скорее всего, вызовет беспокойства со стороны акционеров.</div>
            </div>
        
            <div class="post">
                <div class="meta">
                    <span class="author">Dima</span>
                    <span class="date">2020-11-04 19:19</span>
                </div>
                <div class="text">Турция оштрафовала крупнейшие социальные сервисы за нарушение нового законодательства<br/><br/>– Турция оштрафовала пять компаний: Facebook, Instagram YouTube, Twitter и TikTok<br/>– Каждая компания получила штраф примерно на $1,2 млн<br/>– Компании должны были назначить местного представителя, но не сделали этого<br/>– В последний момент назначила местного представителя только «ВКонтакте»</div>
            </div>
        
            <div class="post">
                <div class="meta">
                    <span class="author">Dima</span>
                    <span class="date">2020-11-04 10:47</span>
                </div>
                <div class="text">Официального разрешения и проекта от управляющей компании нет. Проблема связана с согласованием управляющей компанией изменений фасада с застройщиком: фасад находится на гарантии от застройщика</div>
            </div>
        
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer">
            Все права защищены, Блог Дмитрия. 2020
        </div>
    </div>
</body>
</html>

